#login_box {
    height: 200px; width: 200px;
    background-color: chartreuse;
    border: solid black 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    text-align: center;
}



/*  선생님

#login_box {
    width: 260px;     
    background-color: pink;
    border: 1px blue solid;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
*/