#cat_box {
    display: flex;
    background-color: aqua;
    width: 1000px;
    flex-wrap: wrap;
}

.cat_flex_box {
    display: flex;
    flex-direction: column;

    border: blue solid 10px;
    border-radius: 20px;
}

.cat {
    width: 80px;
    height: 80px;
}

.number {
    background-color: green;
    width: 80px;

    text-align: center;
    color: white; font-weight: 600;
}

.cat_flex_box_gold {
    display: flex;
    flex-direction: column;

    border: 10px solid gold;
    border-radius: 20px;
}