#screen_Message_Box {
    width: 1000px;
    height: 1000px;
    background-color: yellow;
}
#screen_Player_Info {
    width: 1000px;
    height: 100px;
    background-color: pink;
}
#input_txt_turn {
    background-color: orange;
    width: 50px;
    text-align: right;
}