.container {
    display: flex;
    width: 1200px;
    height: 1200px;
}
.one {
    background-color: red;
    flex-basis: 10%;
}
.two {
    background-color: orange;
    flex-basis: 30%;
}
.three {
    background-color: yellow;
    flex-basis: 20%;
}
.four {
    background-color: green;
    flex-basis: 20%;
}
.five {
    background-color: blue;
    flex-basis: 20%;
}