#box {
    display: grid;
    background-color: black;
    width: 1200px;
    height: 1200px;
    justify-content: center;
    align-content: center;
}
.container {
    display: grid;
    width: 1000px;
    height: 1000px;
    grid-template-columns: 100px 200px 700px;
    grid-template-rows: 400px 600px;
}
.A {
    background-color: red;
}
.B {
    background-color: orange;
}
.C {
    background-color: yellow;
}
.D {
    background-color: green;
}
.E {
    background-color: blue;
}
.F {
    background-color: purple;
}